.body {
    margin: 0 auto;
    padding: 0;
    font-family: cursive;
}

/*Estilos para el nav*/
.navbar {
    background-color: #000 !important;
}

.navbar :where(span, li, a) {
    color: #fff !important;
}
.navbar-brand {
    color: #fff;
}

.nav-link {
    margin-right: 10px;
}

.nav-link:hover {
    padding: 5px 10px;
    border: 2px solid #fff !important;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.nav-link.active {
    background-color: #fff;
    color: #000 !important;
    padding: 5px 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-weight: 600;
}

.dropdown-menu :where(ul, li, a) {
    color: #000 !important;
    text-align: center;
}

.btn-nav {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

/*Estilos para el carrusel*/
.carrusel {
    width: 50%;
    height: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.carrusel img {
    border-radius: 25px;
    border: 10px solid #000;
}

/*Estlos para el parrafo*/
.parrafo {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px 10px 10px 10px;
    background-color: #000;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 25px;
}

/*Estilos para el sobre nosotros*/
.acercadenosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 800px;
    height: auto;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 30px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 20px;
    animation: slideIn 1s ease;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-nosotros {
    text-align: center;
    color: #fff;
}

.text-nosotros h1 {
    font-weight: bold;
}

.text-nosotros p {
    margin-left: 5px;
    margin-right: 5px;
}

/*Estlos para el footer*/
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 25px 25px 0 0;
    padding: 40px;
}